.root{
    --french-gray: #C3CAD5;
    --caput-mortuum: #56282D;
    --celadon: #A8D4AD;
    --midnight-green: #023C40;
    --wisteria: #C490D1;
}

body{
    background-color: var(--french-gray);
    text-align: center;
}

a{
    text-decoration: none;
}

a:hover{
    background-color: var(--caput-mortuum);
    color: var(--celadon);
}